@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "models/document";
@import "form";

// Sticky footer styles
// -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;

  .container {
    // padding: 0 15px;
  }
  .container .text-muted {
    margin: 20px 0;
  }
}

// textarea.form-control {
//   height: 20em;
// }
