<div class="row">
  <div class="col-sm-12">
    <h3>Documents</h3>
    {{#if model}}
      <ul class="list-group sharables">
        {{#each model key='@guid' as |sharing|}}
          <li class="list-group-item clearfix">
            {{link-to sharing.sharable.name "documents.show" sharing.sharable}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="well">
        No available documents in this group yet.
        You can share documents with this group directly {{link-to "from the documents themselves" "documents"}}.
      </div>
    {{/if}}
  </div>
  <div class="col-sm-12">
    {{outlet}}
  </div>
</div>
