<div class="row">
  <div class="col-sm-12">
    <h1>
      New version
      {{#if model.name}}
        '{{model.name}}'
      {{/if}}
      {{#if model.document.name}}
        for document
        '{{model.document.name}}'
      {{/if}}
    </h1>
    {{partial 'documents/show/versions/form'}}
  </div>
</div>
