<div class="col-md-12">
  <div class="document-html version-preview-paper">
    <h1>
      {{model.document.name}} (version '{{model.name}}')
    </h1>
    {{markdown-to-html markdown=model.contentMd}}
  </div>
</div>
