<div class="row">
  <div class="col-sm-12 col-md-4 col-md-offset-4">
    <h1>Edit role of '{{model.user.name}}' in group '{{model.group.name}}'</h1>
    {{partial 'memberships/form'}}
  </div>
</div>
