<div class='row'>
  <div class="col-md-8">
    <h1>
      Your memberships
    </h1>
    {{#if model}}
      <ul class="list-group">
        {{#each membership in model}}
          <li class="list-group-item">
            {{#link-to "groups.show" membership.group}}
              Group '{{membership.group.name}}'
            {{/link-to}}
            ({{membership.role}})
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>
        No memberships yet.
        {{link-to "Go create one" "memberships.new"}}
      </p>
    {{/if}}
  </div>
</div>

