<div class="row">
  <div class="col-sm-12 col-md-4 col-md-offset-4">
    <div class='jumbotron'>
      <h1>404 Not Found</h1>
      <p>
        Perhaps you have a link that has changed.
      </p>
    </div>
  </div>
</div>
