<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-2">
    {{#if session.currentUser.canCreateUser}}
      {{#link-to 'users.new' classNames='btn btn-primary' title="Create a new user"}}
        <span class="glyphicon glyphicon-plus"></span> Create a new user
      {{/link-to}}
    {{/if}}
    <h1>Users</h1>
    {{#if model}}
      <ul class="list-group">
        {{#each model key='@guid' as |user|}}
          <li class="list-group-item">
            {{link-to user.name "users.show" user}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>
        No users yet.
        {{link-to "Go create one" "users.new"}}
      </p>
    {{/if}}
  </div>
  <div class="col-sm-12 col-md-8 col-lg-10">
    {{outlet}}
  </div>
</div>
